body, html {
  background: #151515;
}

svg {
  font: 10px sans-serif;

  position: absolute;
  left: 50%;
  top: 50%;

  margin-left: -512px;
  margin-top: -320px;
}

.app text {
  fill: #fff;
}

.axis text {
  fill: #fff;
}

.axis path, .axis line {
  fill: none;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.brush .extent {
  stroke: #fff;
  fill: #fff;
  fill-opacity: .0625;
  shape-rendering: crispEdges;
}