body, html {
  background: #151515;
}

svg {
  font: 10px sans-serif;
}

.axis text {
  fill: #fff;
}

.axis path, .axis line {
  fill: none;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}